.heading{
    color:blue;
    background-color:pink;
}
p{
    color:greenyellow;
    background-color: blueviolet;
}
body{
    background-color:rgb(171, 159, 130);
}
button{
    color:blue;
    background-color: antiquewhite;
}
h2{
    color:rgb(162, 134, 188);
    background-color: green;
}
h3{
    color:red;
    background-color: blanchedalmond;
}
.box{
    height: 100px;
    width:100px;
    border:2px solid black;
    text-align:center;
    background-color:rgb(142, 90, 11);
    margin:5px;
    
}